[package]
name = "core"
version = "0.1.0"
edition = "2024"

[dependencies]
thiserror = "2.0.18"

[features]
debug = []
trace = ["debug"]

[profile.release]
opt-level = 3
lto = true
codegen-units = 1
panic = "abort"
strip = true
